html, body { margin: 0; padding: 0; }
body { background: #fff; color: #333; font: normal 90%/1.3 Arial,Helvetica,sans-serif; }
:link, :visited { color: #c10000; text-decoration: none; }
:link:hover, :visited:hover { text-decoration: underline; }
:link img, :visited img { border: none; }
h1 { color: #666;
  font: normal xx-large/1.5 Georgia,serif; margin: 0 0 .5em;
}
blockquote { font-style: italic; }
form table { margin-bottom: 1em; }
form table tbody th { font-weight: normal; padding-top: .3em; text-align: middle;
  vertical-align: top;
}
form label { color: #666; font-size: 90%; }
form textarea { width: 480px; height: 200px; }

#tiny {font-size:8px;}

#header { height: 65px; background-color: #B00 }

#wrap { background: #fff; width: 98%; min-width: 600px; margin: 30px auto; }
#content { border-left: 10px solid #b00; min-height: 240px; padding: 10px; padding-top:0px; }
#header img { float: left; margin-top: 10px; margin-right: -15px; }
p.login { font-size: 75%; float: left; margin-right:-4000px; margin-left: 15px; margin-top: 5px; }

#footer { background: #4A4D4D; border-top: 2px solid #333; font-size: x-small;
  padding: 3px; text-align: center;
}
#footer hr { display: none; }
.legalese { color: #999; margin: 0; }

ol.links li .info { font-size: 85%; }
ol.links li .info :link, ol.links li .info :visited { color: #666; }

td.green { background: #00FF00; } 
td.yellow { background: #FFFF00; } 
td.red { background: #FF0000; color: #FFFFFF; }

td.white { background: #FFFFFF; } 
td.gray { background: #CCCCCC; } 
td.grey { background: #CCCCCC; } 
td.black { background: #000000; color: #FFFFFF; }

a.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    font-family:arial;
    font-size:12px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

a.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

a.button:active {
    position:relative;
    top:1px;
}

a.white:link { color:#FFFFFF; }
a.white:visited { color:#FFFFFF; }
a.white:hover { color:#FFFFFF; }

a.standard:link { color:#0000FF; }
a.standard:visited { color:#800080; }
a.standard:hover { color:#FF0000; }

td.detail { background: #FFF; text-align: right} 
td.summary { background: #CCC} 

<!-- 
tzzzz:nth-child(even) {background: #CCC}
tzzzz:nth-child(odd) {background: #FFF}
-->

ul.comments { list-style: none; margin: 1em 0; padding: 0 0 0 1em; }
ul.comments li { color: #999; margin: 0 0 1em; }
ul.comments blockquote { color: #333; font-style: normal; margin: 0;
  padding: 0;
}
.action:link, .action:visited { background: #f3f3f3; border: 1px outset #ddd;
  color: #666; font-size: 90%; padding: 0 .3em;
}
.action:link:hover, .action:visited:hover { background: #e8e8e8;
  border-color: #aaa; color: #000; text-decoration: none;
}

form p.hint { color: #666; font-size: 90%; font-style: italic; margin: 0; }
form .error { color: #b00; }

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

.CodeMirror-line-numbers {
     font-family: monospace;
     font-size: 10pt;
     margin-top: .4em;
     margin-bottom: .4em;
     padding: 0;
     background-color: white;
     color: #cc0000;
 }

/* Add some nice box-shadow-ness to the dialogues */
.ui-tooltip-dialogue{
   max-width: 420px;
   min-width: 210px;
 
   -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
   box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}
 
.ui-tooltip-dialogue .ui-tooltip-content{
   padding: 10px;
}
 
.ui-tooltip-dialogue button{
   float: left;
   width: 47%;
   margin-right: 10px;
   padding: 3px 0;
 
   text-align: center;
   font-size: 10.5px;
}
 
.ui-tooltip-dialogue button + button{
   float: right;
   margin-right: 0;
}
 
.ui-tooltip-dialogue input{
   width: 95%;
   padding: 3px 0 3px 5px;
   margin-bottom: 7px;
 
   font-size: 10.5px;
}
 
.ui-tooltip-dialogue button.full{
   float: none;
   width: 100%;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
