app.name: blesk
log.format: '%(levelname)s %(asctime)s %(name)s %(process)d %(thread)d %(message)s'
log.level: DEBUG
log.file: '%(app.name)s.log'
log.rotate.when: midnight
log.rotate.interval: 1
log.rotate.backups: 3
discovery.name: '%(app.name)s'
discovery.debug: False
discovery.port: 7001
discovery.vip: :7001
discovery.health.url: /healthcheck
discovery.status.url: /status
discovery.register: True
server.host: 0.0.0.0
server.port: 7101
server.type: paste
akms.id: '%(app.name)s'
dns.register: True
dns.fqdn: 'blesk.%(discovery.env)s.netflix.net'
dns.exclusive: True
