<!DOCTYPE html>
<?python from genshi import HTML ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <?python import itertools?>
    <?python import re?>
    <?python import time?>
    <title>Availability Reporting</title>
        <script type="text/javascript" src="${url('/media/js/jquery.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/common.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/css.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/standardista-table-sorting.js')}"></script>
    </head>
  <body class="index">
    <p/>
    <xi:include href="nav.html"/>
    <p/>
    <p/>
    <p/>
    <p/>
    <div py:for="message in content.get('messages', [])">
        <font color="green">
            ${HTML(message)}
            <br/>
        </font>
    </div>
    <div py:for="warning in content.get('warnings', [])">
        <font color="red">
            <b>WARNING:</b>
            ${HTML(warning)}
            <br/>
        </font>
    </div>
    <form method="post">
    <p/>
    You can use this interface to automatically set a reasonable threhsold for your services (on a cluster-by-cluster basis).   
    <p/>
    <table border="1">
        <tr>
            <td>
            First, select a cluster:
            </td>
            <td>
                <select size="10" multiple="multiple" name="cluster" id="cluster">
                    <div py:strip="True" py:for="cluster in content['clusters']">
                        <option py:if="cluster in content['selected_clusters']" selected="selected">${cluster}</option>
                        <option py:if="cluster not in content['selected_clusters']">${cluster}</option>
                    </div>
                </select>
            </td>
        </tr>
        <tr>
            <td>
        Now, select a given day in the last week
        <p/>Alternatively, you can pick 'best', for the day with the best (lowest) latency, 'worst', for the day with the worst (highest) latency, or 'median' for the day with the median latency.<p/>
        Picking the best day will give you a higher bar to get to a given availability level; picking the worst day will give you a lower bar to reach a certain availability level.  
            </td>
            <td width="50%">
                <select name="days">
                    <option value="best">best</option>
                    <option value="worst">worst</option>
                    <option value="median">median</option>
                    <option py:for="day in content['days']" value="${day}">
                                ${re.sub("(\d{4})(\d\d)(\d\d)", r"\2/\3/\1", day)}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
        Finally, select an availability level to calibrate this day to -- in other words, how available would you say this cluster was on this day?
            </td>
            <td>
                <select name="availability">
                    <option py:for="num in reversed(range(85, 101))" value="${num}">
                        At least ${"%.2f%%" % num}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input value="Set Thresholds!" type="submit"/>
            </td>
        </tr>
    </table>
    </form>
    </body>
</html>
