<!DOCTYPE html>
<?python
from genshi import HTML
def tdclass(percent):
    if type(percent) != float and type(percent) != int:
        return "detail"
    if percent > 95:
        return "green"
    if percent > 90:
        return "yellow"
    return "red"

def aclass(percent):
    if type(percent) == float and percent < 90:
        return "white"
    return "standard"

def selected(option, optionlist):
    if option in optionlist:
        return 'selected="selected"'
    else:
        return ""
?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <span py:if="not content.get('email')" py:strip="True">
      <xi:include href="layout.html" />
    </span>
  <head>
    <?python import itertools?>
    <?python import re?>
    <?python import time?>
    <span py:if="not content.get('email')" py:strip="True">
        <title>Availability Reporting</title>
        <script type="text/javascript" src="${url('/media/js/jquery.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/jquery-cookie.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/common.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/css.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/standardista-table-sorting.js')}"></script>
    </span>
    <span py:if="content.get('email')" py:strip="True">
        <link rel="stylesheet" href="${content['server']}/media/layout.css" type="text/css" />
    </span>
    </head>
  <body class="index">
    <span py:if="not content.get('email')" py:strip="True">
        <p/>
        <xi:include href="nav.html"/>
        <p/>
        <p/>
       <div py:for="message in content.get('messages', [])">
            <font color="green">
                ${HTML(message)}
                <br/>
            </font>
        </div>
         <div py:for="warning in content.get('warnings', [])">
            <font color="red">
                <b>WARNING:</b>
                ${HTML(warning)}
                <br/>
            </font>
        </div>
            <form id="form">
                <table>
                    <tr>
                        <td>
                            Cluster:
                        </td>
                        <td>
                        </td>
                        <td>
                            Application:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select size="10" multiple="multiple" name="cluster" id="cluster">
                            <div py:strip="True" py:for="cluster in content['clusters']">
                                <option py:if="cluster in content['selected_clusters']" selected="selected">${cluster}</option>
                                <option py:if="cluster not in content['selected_clusters']">${cluster}</option>
                            </div>
                            </select>
                        </td>
                        <td>
                            <a py:if="'report' in content" href="javascript:switch_visibility()" id="hide_link">Hide Detail Data</a><p/>
                            <a py:if="'report' in content" href="javascript:switch_color()" id="color_link">Grayscale Mode</a>
                            <p/>
                        </td>
                        <td>
                            <select size="10" multiple="multiple" name="application" id="application">
                            <div py:strip="True" py:for="application in content['applications']">
                                <option py:if="application in content['selected_applications']" selected="selected">${application}</option>
                                <option py:if="application not in content['selected_applications']">${application}</option>
                            </div>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="button" name="clusterperiod" id="clusterperiod">
                                <option>daily</option>
                                <option>weekly</option>
                            </select>
                            <input type="hidden" id="what" name="what" value="cluster"/>
                            <a class="button" href="javascript: submitform('cluster')">Cluster-Based Report</a>
                        </td>
                        <td></td>
                        <td>
                            <select class="button" name="applicationperiod" id="applicationperiod">
                                <option>daily</option>
                                <option>weekly</option>
                            </select>
                            <a class="button" href="javascript: submitform('application')">Application-Based Report</a>
                        </td>
                    </tr>
                </table>
            </form>
        </span>
        <div py:strip="True" py:def="label(subcompname, subcomp, container, cssclass)">
            <td class="${content.get('cssclass') or cssclass}">
                <div py:strip="True" py:with="comptype = subcomp.get('type', '')">
                    <div py:strip="True" py:if="comptype == 'service'">
                        <a target="_new" href="${content['server']}/targets?cluster=${container}&amp;service=${subcompname}">
                            service:${subcompname}
                        </a>
                    </div>
                    <div py:strip="True" py:if="comptype == 'cluster'">
                        <a target="_new" href="${content['server']}/availability?cluster=${subcompname}&amp;period=${content.get('period', 'weekly')}">
                            ${content.get('cluster_label')}${subcompname}
                        </a>
                    </div>
                    <div py:strip="True" py:if="comptype == 'application'">
                        <a target="_new" href="${content['server']}/availability?application=${subcompname}&amp;period=${content.get('period', 'weekly')}">
                            ${content.get('application_label')}${subcompname}
                        </a>
                    </div>
                </div>
            </td>
        </div>
        <div py:strip="True" py:def="data(subreport, cls, period, subcompname, item)">
            <div py:with="percent = subreport.get('subcomponents', {}).get(subcompname, {}).get('data', {}).get('periods', {}).get(period, {}).get('percent')">
                <td class="${tdclass(percent)}">
                    <div py:strip="True" py:with="comptype = subreport['subcomponents'][subcompname].get('type', '')">
                        <div py:strip="True" py:choose="">
                            <div py:strip="True" py:when="comptype == 'service' and content.get('period') == 'daily'">
                                <a class="${aclass(percent)}" target="_new" href="${content['server']}/dump_per_day?cluster=${item}&amp;service=${subcompname}&amp;datestamp=${period}">
                                    ${subreport['subcomponents'][subcompname]['data']['periods'][period].get('label', '')}
                                </a>
                            </div>
                            <div py:strip="True" py:otherwise="">
                                    ${subreport['subcomponents'][subcompname]['data']['periods'][period].get('label', '')}
                            </div>
                        </div>
                    </div>
                </td>
            </div>
        </div>

        <span py:if="content.get('email')" py:strip="True">
            For more context, please see <a href="http://go/availability">Documentation about the Availability Dashboard</a>
            <p/>
          <h3>${content['title']}</h3>
        </span>

        <span py:if="not content.get('email')" py:strip="True">
          <h3>${content.get('period', '').capitalize()} Availability Report</h3>
        </span>

        <table py:with="report = content.get('report')" py:if="content.get('report')" class="sortable" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th py:for="period in report['periods']">
                        ${re.sub("(\d{4})(\d\d)(\d\d)", r"\2/\3", period)}
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <div py:strip="True" py:for="item in report['component_list']" py:with="subreport = report['subcomponents'][item]">
                    <span py:if="not content.get('email')" py:strip="True">
                        <tr class="hideable" py:for="subcompname in subreport['subcomponents']">
                            ${label(subcompname, subreport['subcomponents'][subcompname], item, "detail")}
                            <div py:strip="True" py:for="period in subreport['periods']">
                                ${data(subreport, "detail", period, subcompname, item)}
                            </div>
                            <div py:strip="True">
                                ${data(subreport, "detail", 'total', subcompname, item)}
                            </div>
                        </tr>
                    </span>
                    <tr class="summary">
                        ${label(item, subreport, None, "summary")}
                        <td class="${tdclass(subreport['data']['periods'][period].get('percent', 100))}" py:for="period in subreport['periods']">
                            ${subreport['data']['periods'][period].get('label', '')}
                        </td>
                        <td class="${tdclass(subreport['data']['periods']['total'].get('percent', 100))}">
                            ${subreport['data']['periods']['total'].get('label', '')}
                        </td>
                    </tr>
                </div>
            </tbody>
            <tfoot>
                <tr class="summary">
                    <td class="summary">
                        <b>Grand Total</b>
                    </td>
                    <td class="${tdclass(content['report']['data']['periods'][period].get('percent', 100))}" py:for="period in content['report']['periods']">
                        ${content['report']['data']['periods'][period].get('label', '')}
                    </td>
                    <td class="${tdclass(content['report']['data']['periods']['total'].get('percent', 100))}">
                        ${content['report']['data']['periods']['total'].get('label', '')}
                    </td>
                </tr>
            </tfoot>
        </table>
        <p/>
        <div py:if="'duration' in content" class="tiny">
            Legend:
            <table border="1">
                <tr>
                    <td class="green">
                        availability &gt;= 95%
                    </td>
                    <td class="yellow">
                        90% &lt;= availability &lt; 95%
                    </td>
                    <td class="red">
                        availability &lt; 90%
                    </td>
                </tr>
            </table>
            <p/>
             Availability Report generated in ${"%.2f" % content['duration']} seconds
        </div>
        <span py:if="not content.get('email')" py:strip="True">
            <script type="text/javascript" charset="utf-8">
            // <!--
            function switch_visibility() {
                $('.hideable').toggle();
                visibility = $('.hideable').css('display');
                if (visibility == 'none') {
                    $('#hide_link').text("Show Detail Data");
                } else {
                    $('#hide_link').text("Hide Detail Data");
                }
            };
            function set_mono() {
                    $(".green").attr('class', 'white');
                    $(".yellow").attr('class', 'grey');
                    $(".red").attr('class', 'black');
                    $("#color_link").text("Technicolor Mode");
                    $.cookie("colormode", "monochrome", { expires: 365 });
            }
            function set_color() {
                    $(".white").attr('class', 'green');
                    $(".grey").attr('class', 'yellow');
                    $(".black").attr('class', 'red');
                    $("#color_link").text("Grayscale Mode");
                    $.cookie("colormode", "color", { expires: 365 });
            }
             function switch_color() {
                val = $("#color_link").text();
                if (val == "Grayscale Mode") {
                    set_mono() ;
               } else {
                    set_color() ;
                }
            }
            function submitform(what) {
                $("input#what").val(what) ;
                document.forms['form'].submit();
            }
            $(document).ready(function(){
                if ($.cookie("colormode") == "monochrome") {
                    set_mono() ;
                }
            });
            // -->
            </script>
        </span>
    <p/>
   </body>
</html>
