<!DOCTYPE html>
<?python from genshi import HTML ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <?python import itertools?>
    <?python import time?>
    <title>Notifications</title>
  </head>
  <body class="index">
    <!--<p/>
    <xi:include href="nav.html"/>
    <p/>
    <p/>-->
   <div style="display:none" py:for="message in content.get('messages', [])">
        <font color="green">
            ${HTML(message)}
            <br/>
        </font>
    </div>
     <div style="display:none" py:for="warning in content.get('warnings', [])">
        <font color="red">
            <b>WARNING:</b>
            ${HTML(warning)}
            <br/>
        </font>
    </div>
  </body>
</html>
