<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<ul class="nav">
    <li class="menuButton"><a href="/availability">Availability Reports</a>
    </li>
    <li class="menuButton"><a href="/targets">Availability Targets</a>
        <ul>
            <li class="menuButton"><a href="/autoset">Auto Set</a></li>
        </ul>
    </li>
    <li class="menuButton"><a href="/streams">Stream Misses</a></li>
</ul>
</html>
