<!DOCTYPE html>
<?python 
from genshi import HTML 
?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <?python import itertools?>
    <?python import re?>
    <?python import time?>
    <title>Stream Starts</title>
        <link rel="stylesheet" href="${url('/media/jquery.css')}" type="text/css" />
        <script type="text/javascript" src="${url('/media/js/jquery.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/jquery-ui.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/jquery-ui-timepicker-addon.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/jquery-cookie.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/common.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/css.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/standardista-table-sorting.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/anytime.js')}"></script>
    </head>
  <body class="index">
    <p/>
    <xi:include href="nav.html"/>
    <p/>
    <p/>
   <div py:for="message in content.get('messages', [])">
        <font color="green">
            ${HTML(message)}
            <br/>
        </font>
    </div>
     <div py:for="warning in content.get('warnings', [])">
        <font color="red">
            <b>WARNING:</b>
            ${HTML(warning)}
            <br/>
        </font>
    </div>
        <form method="post" id="form" action="/impact">
        Start of outage: <input name="start" type="text" value="click here" id="start"/>
        End of outage: <input name="end" type="text" value="click here" id="end"/>
        <input type="submit" id="submit"/>
        </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <script>
        $('#start').datetimepicker({
            timeFormat: 'hhmm',
            dateFormat: 'yymmdd',
            onClose: function(dateText, inst) {
                var endDateTextBox = $('#end');
                if (endDateTextBox.val() != '') {
                    var testStartDate = new Date(dateText);
                    var testEndDate = new Date(endDateTextBox.val());
                    if (testStartDate > testEndDate)
                        endDateTextBox.val(dateText);
                }
                else {
                    endDateTextBox.val(dateText);
                }
            },
            onSelect: function (selectedDateTime){
                var start = $(this).datetimepicker('getDate');
                $('#end').datetimepicker('option', 'minDate', new Date(start.getTime()));
            }
        });
        $('#end').datetimepicker({
            timeFormat: 'hhmm',
            dateFormat: 'yymmdd',
            onClose: function(dateText, inst) {
                var startDateTextBox = $('#start');
                if (startDateTextBox.val() != '') {
                    var testStartDate = new Date(startDateTextBox.val());
                    var testEndDate = new Date(dateText);
                    if (testStartDate > testEndDate)
                        startDateTextBox.val(dateText);
                }
                else {
                    startDateTextBox.val(dateText);
                }
            },
            onSelect: function (selectedDateTime){
                var end = $(this).datetimepicker('getDate');
                $('#start').datetimepicker('option', 'maxDate', new Date(end.getTime()) );
            }
        });
     </script>
    </body>
</html>
