<!DOCTYPE html>
<?python from genshi import HTML ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <?python import itertools?>
    <?python import time?>
    <title>Availability Targets</title>
        <script type="text/javascript" src="${url('/media/js/jquery.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/common.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/css.js')}"></script>
        <script type="text/javascript" src="${url('/media/js/standardista-table-sorting.js')}"></script>
        <script type="text/javascript" charset="utf-8">
        $(function(){
          $(document).ready(function(){
            $.getJSON("/api/v1/clusters",{ajax: 'true'}, function(j){
              var options = '';
              for (var i = 0; i &lt; j.length; i++) {
                options += '<option value="' + j[i] + '">' + j[i] + '</option>';
              }
              options = '<option>pick one</option>' + options;
              $("select#cluster").html(options);
            })
          })
        })
        </script>
         <script type="text/javascript" charset="utf-8">
        $(function(){
          $("#cluster").change(function(){
            location.href = "/targets?cluster=" + encodeURIComponent($("#cluster").val());
          })
        })
        </script>
   </head>
  <body class="index">
    <p/>
    <xi:include href="nav.html"/>
    <p/>
    <p/>
   <div py:for="message in content.get('messages', [])">
        <font color="green">
            ${HTML(message)}
            <br/>
        </font>
    </div>
     <div py:for="warning in content.get('warnings', [])">
        <font color="red">
            <b>WARNING:</b>
            ${HTML(warning)}
            <br/>
        </font>
    </div>
    <h3>
        Availability Targets
    </h3>
    <table>
        <tr>
            <td>
                Cluster:
                <select name="cluster" id="cluster">
                <option>one moment ...</option>
                </select>
            </td>
        </tr>
    </table>
    <div py:if="content.get('availability_targets')">
        <table border="1">
            <thead>
                <tr>
                    <th>Cluster</th>
                    <th>Service</th>
                    <th>Success Percent Minimum</th>
                    <th>Latency Type</th>
                    <th>Latency Maximum (us)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <div py:strip="True" py:for="cluster in content.get('availability_targets', [])">
                    <tr py:for="service in content['availability_targets'][cluster]">
                        <form method="post">
                            <td>${cluster}<input type='hidden' name='cluster' value="${cluster}"/></td>
                            <td>${service}<input type='hidden' name='service' value="${service}"/></td>
                            <td><input type="text" value="${content['availability_targets'][cluster][service]['success_percent']}" name="success_percent"/></td> 
                            <td>
                                <select name="percentile_choice">
                                    <div py:strip="True" py:for="option in content['percentile_choice_options']">
                                        <div py:strip="True" py:if="option == content['availability_targets'][cluster][service]['percentile_choice']">
                                            <option selected="${option}">${option}</option>
                                        </div>
                                        <div py:strip="True" py:if="option != content['availability_targets'][cluster][service]['percentile_choice']">
                                            <option>${option}</option>
                                        </div>
                                    </div>
                                </select>
                            </td>
                            <td><input type="text" value="${content['availability_targets'][cluster][service]['percentile_target']}" name="percentile_target"/></td> 
                            <td><input type="submit" name="submit" label="update"/></td>
                            </form>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
    </body>
</html>
